<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - vendedor</title>

    @* *Fuentes *@
    @* <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> *@
    <link
        href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&family=Nunito:wght@500&family=Philosopher:ital,wght@1,700&family=Raleway:wght@500&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/vendedor.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/propiedades.css" asp-append-version="true" />


    <link rel="stylesheet" href="~/css/index.css">
    <link rel="stylesheet" href="~/css/header.css">
    <link rel="stylesheet" href="~/css/footer.css">



    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

</head>

<body>
    <header>
        <div class="barra"></div>
        <nav class="nav-header">
            <div class="container-logo">
                <img src="~/img/logo.png" alt="logo" class="logo-header">
                <a asp-area="" asp-page="/Index">DreamHomes</a>
            </div>
            <div class="lista-header">
                <ul class="">
                    <li class="">
                        <a class="" asp-area="" asp-page="/Privacy">propiedades</a>
                    </li>
                    <li class="">
                        <a class="" asp-area="" asp-page="/Catalogo">tasaciones</a>
                    </li>

                    <li class="">
                        <a class="btn-azul" asp-area="" asp-page="/Login">Contacto</a>
                    </li>

                </ul>
            </div>
        </nav>
    </header>
    <div>
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer>
        <div class="parte1">
            <img src="~/img/edificios.jpg" alt="fondo" class="edificio">
            <div class="texto">
                <h1>Contactanos</h1>
                <p>Sabemos lo que necesitas</p>
                <a asp-page="/Error">Enviar un mensaje</a>
            </div>
        </div>
        <div class="parte2">
            <div class="contenedor-superior">
                <div class="left">
                    <h4>DreamHomes</h4>
                    <p>Este es un texto de relleno, que tiene la finalidad de rellenar los espacios donde iria texto que
                        quieran incluir los clientes</p>
                    <div class="redes">
                        <a href="https://www.facebook.com/me/"><img src="~/img/facebook.svg" alt=""></a>
                        <a href="https://www.instagram.com/"><img src="~/img/instagram.svg" alt=""></a>
                        <a href="https://www.linkedin.com/feed/"><img src="~/img/linkedin.svg" alt=""></a>
                    </div>
                </div>
                <div class="right">
                    <h6>Nuestros Servicios</h6>
                    <h6>Recursos</h6>
                    <h6>Soporte</h6>
                    <p>Tasaciones</p>
                    <p>Preguntas Frecuentes</p>
                    <p>Email</p>
                    <p>Compras</p>
                    <p>Sobre Nosotros</p>
                    <p>Contactanos</p>
                    <p>Alquileres</p>
                    <p>Novedades</p>
                    <p>Centro de Soporte</p>
                    <p>Ventas</p>
                    <p>Politicas de Privacidad</p>
                    <p>Terminos de Servicios</p>
                </div>
            </div>
            <div class="copy">
                Copyright 2023. Inmobiliaria DreamHomes. Todos los derechos reservados
            </div>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>