<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - vendedor</title>

    @* *Fuentes *@
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&family=Nunito:wght@500&family=Philosopher:ital,wght@1,700&family=Raleway:wght@500&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/vendedor.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/propiedades.css" asp-append-version="true" />


    <link rel="stylesheet" href="~/css/index.css">
    <link rel="stylesheet" href="~/css/header.css">



    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

</head>

<body>
    <header>
        <div class="barra"></div>
        <nav class="nav-header">
            <div class="container-logo">
                <img src="~/img/logo.png" alt="logo" class="logo-header">
                <a asp-area="" asp-page="/Index">DreamHomes</a>
            </div>
            <div class="lista-header">
                <ul class="">
                    <li class="">
                        <a class="" asp-area="" asp-page="/Privacy">propiedades</a>
                    </li>
                    <li class="">
                        <a class="" asp-area="" asp-page="/Catalogo">tasaciones</a>
                    </li>

                    <li class="">
                        <a class="btn-azul" asp-area="" asp-page="/Login">Contacto</a>
                    </li>

                </ul>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - vendedor - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>