/* Estilos para centrar el contenido dentro de .carta */

.carta {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    /* Establece la altura deseada para el elemento .carta */
    background: #ffffff;
    /* Fondo oscuro */
    border-radius: 8px;
    box-shadow: 0px 10px 20px rgba(255, 255, 255, 0.1);
}

.btn {
    outline: 0;
    background: #007acc;
    /* Azul de Visual Studio Code */
    border: 0;
    border-radius: 4px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    padding: 16px 20px;
    color: #ffffff;
    /* Texto blanco */
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    overflow: hidden;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn .animation {
    border-radius: 100%;
    animation: ripple 0.6s linear infinite;
}

.btn:hover {
    opacity: 0.95;
}

@keyframes ripple {
    0% {
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1),
            0 0 0 20px rgba(255, 255, 255, 0.1),
            0 0 0 40px rgba(255, 255, 255, 0.1),
            0 0 0 60px rgba(255, 255, 255, 0.1);
    }

    100% {
        box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.1),
            0 0 0 40px rgba(255, 255, 255, 0.1),
            0 0 0 60px rgba(255, 255, 255, 0.1),
            0 0 0 80px rgba(255, 255, 255, 0);
    }
}

/* ------------ */
.login-container {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    background: #1e1e1e;
    /* Fondo oscuro */
    border-radius: 8px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1), 0px 0px 0px 3px #007acc, inset 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.login-header {
    font-size: x-large;
    font-weight: 600;
    text-align: center;
    margin-bottom: 20px;
    color: #c9c9c9;
    /* Texto gris claro */
}

.login-header h1 {
    color: #ffffff;
    /* Texto blanco */
    font-size: 24px;
}

.login-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    background: #333333;
    /* Fondo gris oscuro */
    border-radius: 4px;
    box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.2);
    color: #c9c9c9;
    /* Texto gris claro */
}

.login-button {
    width: 100%;
    padding: 10px;
    border: none;
    background: #007acc;
    /* Azul de Visual Studio Code */
    color: #ffffff;
    /* Texto blanco */
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1), inset 0px 1px 3px rgba(255, 255, 255, 0.5);
    transition: background 0.3s ease, transform 0.2s ease;
}

.login-button:hover {
    background: #005a99;
    /* Cambio de color al hacer hover */
    transform: translateY(-2px);
}