/* Establecer el contenedor principal como un grid */
main {
  padding: 40px;
}

main div a p {
  font-family: "Fredoka", sans-serif;
  font-size: medium;
  color: black;
}

main div {
  padding-top: 30px;
}

.parte-1 {
  display: grid;
  grid-template-areas:
    "departamentos departamentos casas casas"
    "departamentos departamentos comercios countries";
}

.departamentos {
  grid-area: departamentos;
}

.casas {
  grid-area: casas;
}

.comercios {
  grid-area: comercios;
}

.countries {
  grid-area: countries;
}

.parte-2 {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.parte-3 {
  display: grid;
  grid-template-columns: 3fr 2fr;
}

.parte-4 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}