@page
@model CategoriasModel
@{
  ViewData["Title"] = "Categorias";
}
<main>
  <div>
    <img src="~/img/categorias.png" alt="categorias">
  </div>

  <div class="parte-1">
    <a href="/propiedades" data-ajax="true" data-replace="true" class="departamentos">
      <img src="~/img/departamentos.png" alt="Departamentos">
      <p>Departamentos</p>
    </a>
    <a href="/propiedades" data-ajax="true" data-replace="true" class="casas">
      <img src="~/img/casas.png" alt="Casas">
      <p>Casas</p>
    </a>
    <a href="/propiedades" data-ajax="true" data-replace="true" class="comercios">
      <img src="~/img/comercios.png" alt="Comercios">
      <p>Comercios</p>
    </a>
    <a href="/propiedades" data-ajax="true" data-replace="true" class="countries">
      <img src="~/img/countries.png" alt="Countries">
      <p>Countries</p>
    </a>
  </div>

  <div class="parte-2">
    <a href="/propiedades" data-ajax="true" data-replace="true" >
      <img src="~/img/hoteles.png" alt="Countries">
      <p>Hoteles</p>
    </a>
    <a href="/propiedades" data-ajax="true" data-replace="true">
      <img src="~/img/recidencia.png" alt="Redicencias Univercitarias">
      <p>Redicencias Univercitarias</p>
    </a>
  </div>

  <div class="parte-3">

  </div>

  <div class="parte-4">

  </div>

</main>
<hr>
<main>
  <div>
    <img src="~/img/categorias.png" alt="categorias">
  </div>
  <section class="edificios">
    <div class="grilla1">
      <div class="casa">
        <a href="/propiedades" data-ajax="true" data-replace="true">
          <img src="~/img/departamentos.png" alt="Casa">
          <span>Casa</span>
        </a>
      </div>
      <div class="grilla2">

        <div class="departamento">
          <a href="/propiedades" data-ajax="true" data-replace="true">
            <img src="~/img/casa2.png" alt="Departamento">
            <span>Departamento</span>
          </a>
        </div>
        <div class="comercio">
          <a href="/propiedades" data-ajax="true" data-replace="true">
            <img src="~/img/casa3.jpg" alt="Comercio">
            <span>Comercio</span>
          </a>
        </div>
        <div class="hotel">
          <a href="/propiedades" data-ajax="true" data-replace="true">
            <img src="~/img/fondo.jpg" alt="Hotel">
            <span>Hotel</span>
          </a>
        </div>
      </div>
    </div>

    <div class="residencia">
      <a href="/propiedades" data-ajax="true" data-replace="true">
        <img src="~/img/images.jpeg" alt="Residencia universitaria">
        <span>Residencia universitaria</span>
      </a>
    </div>
    <div class="almacen">
      <a href="/propiedades" data-ajax="true" data-replace="true">
        <img src="~/img/casa1.png" alt="Almacén">
        <span>Almacén</span>
      </a>
    </div>
  </section>
</main>
