@page
@model IndexModel
@{

}


<div class="container-index">

    <div class="index-parte1">
        <img src="~/img/fondoIndex.png" alt="fondo" class="imgfondo">
        <div class="contenido-sobre-img">
            <h1>Encuentra tu lugar ideal</h1>
            <div class="botones">
                <a href="#">Quiero Comprar</a>
                <a href="#">Quiero Vender</a>
                <a href="#">Quiero Alquilar</a>
            </div>
        </div>
    </div>
    
    <div class="index-parte2">
        <div class="linea-azul">

        </div>
        <div class="contenedor-img">
            <img src="~/img/edificio2.png" alt="edificio">
            <div class="contenedor-texto-img">
                <div class="superior">
                    <img src="~/img/bi_people.svg" alt="">
                    <p>Equipo formado por expertos en ventas</p>
                </div>
                <div class="inferior">
                    <img src="~/img/Group.svg" alt="">
                    <p>Más de 10 años de experiencia en el rubro</p>
                </div>
            </div>
        </div>
        <div class="texto-parte2">
            <h2>Generando Soluciones hace más de 10 años</h2>
            <p>Este es un texto de relleno, que tiene la finalidad de rellenar los espacios donde iria texto que quieran incluir los clientes</p>
            <ul>
                <li>Texto de relleno</li>
                <li>Texto de relleno</li>
                <li>Texto de relleno</li>
            </ul>
            <button>Ver Mas</button>
        </div>

    </div>

</div>
