@page
@model IndexModel
@{

}


<div class="container-index">

    <div class="index-parte1">
        <img src="~/img/fondoIndex.png" alt="fondo" class="imgfondo">
        <div class="contenido-sobre-img">
            <h1>Encuentra tu lugar ideal</h1>
            <div class="botones">
                <a href="#">Quiero Comprar</a>
                <a href="#">Quiero Vender</a>
                <a href="#">Quiero Alquilar</a>
            </div>
        </div>
    </div>
    
</div>
