@page
@model vendedor.Pages.MensajeModel
@{
}


<form method="post" class="login-container">
    <div class="login-header">
        <div>Calculadora</div>
    </div>

    <input type="text" class="login-input" placeholder="Número 1" id="numero1" name="numero1" asp-for="Numero1">
    <input type="text" class="login-input" placeholder="Número 2" id="numero2" name="numero2" asp-for="Numero2">

    <button type="submit" class="login-button" id="login-button">Calcular</button>
</form>

@if (Model.Resultado != null)
{
    <div class="carta">
        <span class="btn"><i class="animation"></i>@Model.Resultado<i class="animation"></i>
        </span>

    </div>
}