@page
@model PrivacyModel
@{
  ViewData["Title"] = "Privacy Policy";
}

<h1>propiedades</h1>
<main>
  <section class="categorias">
    <h2>Categorías</h2>
    <ul>
      <li><a href="#">Casas</a> (26)</li>
      <li><a href="#">Departamentos</a></li>
      <li><a href="#">Comercios</a></li>
      <li><a href="#">Hoteles</a></li>
      <li><a href="#">Residencias universitarias</a></li>
      <li><a href="#">Almacenes</a></li>
    </ul>
  </section>
  <section class="edificios">
    <h2>Edificios</h2>
    <ul class="grid">
      <li><a href="#">
          <img src="~/img/casa1.png" alt="Casa">
        </a></li>
      <li><a href="#">
          <img src="~/img/casa2.png" alt="Departamento">
        </a></li>
      <li><a href="#">
          <img src="~/img/casa3.jpg" alt="Comercio">
        </a></li>
      <li><a href="#">
          <img src="~/img/fondo.jpg" alt="Hotel">
        </a></li>
      <li><a href="#">
          <img src="~/img/images.jpeg" alt="Residencia universitaria">
        </a></li>
      <li><a href="#">
          <img src="~/img/casa1.png" alt="Almacén">
        </a></li>
    </ul>
  </section>
</main>
