@page
@model PrivacyModel
@{
  ViewData["Title"] = "Privacy Policy";
}

<main>
  <div>
 <img src="~/img/categorias.png" alt="categorias">
</div>
  <section class="edificios">
    <div class="casa">
      <a href="/propiedades" data-ajax="true" data-replace="true">
        <img src="~/img/departamentos.png" alt="Casa">
        <span>Casa</span>
      </a>
    </div>
    <div class="departamento">
      <a href="/propiedades" data-ajax="true" data-replace="true">
        <img src="~/img/casa2.png" alt="Departamento">
        <span>Departamento</span>
      </a>
    </div>
    <div class="comercio">
      <a href="/propiedades" data-ajax="true" data-replace="true">
        <img src="~/img/casa3.jpg" alt="Comercio">
        <span>Comercio</span>
      </a>
    </div>
    <div class="hotel">
      <a href="/propiedades" data-ajax="true" data-replace="true">
        <img src="~/img/fondo.jpg" alt="Hotel">
        <span>Hotel</span>
      </a>
    </div>
    <div class="residencia">
      <a href="/propiedades" data-ajax="true" data-replace="true">
        <img src="~/img/images.jpeg" alt="Residencia universitaria">
        <span>Residencia universitaria</span>
      </a>
    </div>
    <div class="almacen">
      <a href="/propiedades" data-ajax="true" data-replace="true">
        <img src="~/img/casa1.png" alt="Almacén">
            <span>Almacén</span>
      </a>
    </div>
  </section>
</main>
