@page
@model PrivacyModel
@{
  ViewData["Title"] = "Privacy Policy";
}

<h1>propiedades</h1>
<main>
  <section class="edificios"> <div class="casa"> <a href="#">Casas</a> <img src="~/img/casa1.png" alt="Casa">
  </div> <div class="departamento"> <a href="#">Departamentos</a> <img src="~/img/casa2.png" alt="Departamento"> 
  </div> <div class="comercio"> <a href="#">Comercios</a> <img src="~/img/casa3.jpg" alt="Comercio">
   </div> <div class="hotel"> <a href="#">Hoteles</a> <img src="~/img/fondo.jpg" alt="Hotel">
    </div> <div class="residencia"> <a href="#">Residencias universitarias</a> <img src="~/img/images.jpeg" alt="Residencia universitaria"> 
    </div> <div class="almacen"> <a href="#">Almacenes</a> <img src="~/img/casa1.png" alt="Almacén"> </div>
     </section>
</main>
